.product-item {
  /*background-color: black;*/
  /*color: white;*/
  display: flex;
}

.product-item {
  text-align: center;
  border: 1px solid #ccc;
  cursor: pointer;
}


.mat-elevation-z8 {
  margin: 20px;
  border-radius: 4px;
}

table {
  width: 100%;
}

