<div class="list-supplier">
  <div class="search-div">
    <button mat-raised-button (click)="onCreate()">
      <mat-icon>add</mat-icon>Créer un fournisseur
    </button>
    <mat-form-field class="search-form-field" floatLabel="always">
      <input matInput [(ngModel)]="searchKey" placeholder="Rechercher un fournisseur" autocomplete="off"  (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button arial-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort>

      <!-- Label Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header  class="name-column"> Nom </mat-header-cell>
        <mat-cell *matCellDef="let element"  class="name-column"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Label Column -->
      <ng-container matColumnDef="adress">
        <mat-header-cell *matHeaderCellDef class="address-column"> Adresse </mat-header-cell>
        <mat-cell *matCellDef="let element" class="address-column"> {{element.address}} </mat-cell>
      </ng-container>

      <!-- Label Column -->
      <ng-container matColumnDef="numberPhone">
        <mat-header-cell *matHeaderCellDef class="phone-column"> Numéro téléphone </mat-header-cell>
        <mat-cell *matCellDef="let element" class="phone-column"> {{element.numberPhone}} </mat-cell>
      </ng-container>

      <!-- Label Column -->
      <ng-container matColumnDef="email" >
        <mat-header-cell *matHeaderCellDef class="email-column"> Email </mat-header-cell>
        <mat-cell *matCellDef="let element" class="email-column"> {{element.email}} </mat-cell>
      </ng-container>

      <!-- Label Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef class="actions-column">Actions</mat-header-cell>
        <mat-cell *matCellDef="let element" class="actions-column">
          <button mat-icon-button (click)="onEdit(element)" style="margin-right: 5px;"><mat-icon>launch</mat-icon></button>
          <button mat-icon-button color="warn" (click)="onDelete(element)"><mat-icon>delete_outline</mat-icon></button>
        </mat-cell>
      </ng-container>


      <!-- Label Column -->

      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>


      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data...
        </mat-footer-cell>
      </ng-container>


      <!-- Header and Row Declarations -->
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; let i = index; columns: displayedColumns" [ngClass]="{'odd-row': i % 2 !== 0, 'even-row': i % 2 === 0}"></mat-row>

      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{ 'hide':dataSource!=null}"></mat-footer-row>

      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{ 'hide':!(dataSource!=null && dataSource.data.length == 0)}"></mat-footer-row>


    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="[5]" showFirstLastButtons></mat-paginator>

  </div>
</div>

