.product-autocomplete {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.product-autocomplete mat-form-field {
  margin-right: 10px;
}

.selected-products {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.table-product {
  display: flex;
  height: 500px;
}

.mat-mdc-table {
  background-color: #ECF8E0;
  font-size: 30px;
}

.mat-mdc-header-row {
  color: white;
  background-color: #0B610B;
  font-size: 14px;
  font-weight: bold;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
}

mat-cell , mat-header-cell, mat-footer-cell {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

.odd-row {
  background-color: #B0F2B6;
}

.even-row {
  background-color: #97DFC6;
}

.label-column {
  width: 40%;
}

.quantity-column {
  width: 10%;
}

.unit-price-column {
  width: 20%;
}

.total-column{
  width: 20%;
}

.actions-column {
  width: 10%;
}

.content-command {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background-color: yellow;
  padding: 20px;
  border-radius: 10px;
}

mat-form-field {
  width: 100%; /* Pour que le champ prenne toute la largeur disponible */
}

.custom-input {
  width: 50%;
  margin-top: 10px;
  margin-left: 10px;
}

.validation-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.validation-container button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.validation-container button:hover {
  background-color: #0056b3; /* Change la couleur au survol */
}

.validation-container button:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Ombre plus petite au clic */
  transform: translateY(2px); /* Légère animation de pression */
}

.validation-container button:first-child {
  background-color: #1976d2; /* Couleur de fond pour le bouton 'Ajouter' */
}

.validation-container button:nth-child(2) {
  background-color: #388e3c; /* Couleur de fond pour le bouton 'Imprimer' */
}

.validation-container button:last-child {
  background-color: #fbc02d; /* Couleur de fond pour le bouton 'Sauvegarder' */
}

.total-net-container {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
}
