.mat-mdc-table {
  background-color: #ECF8E0;
  font-size: 30px;
}

.mat-mdc-header-row {
  color: white;
  background-color: #0B610B;
  font-size: 14px;
  font-weight: bold;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
}

mat-cell , mat-header-cell, mat-footer-cell {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

mat-form-field {
  width: 100%;
}

.mat-mdc-form-field {
  margin: 10px;
}

.mat-mdc-form-field-hint-spacer {
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
  width: 0 !important;
}





.custom-form-field {
  font-size: 12px;               /* Decreases font size */
  height: 70px;                  /* Adjusts height */
}

.custom-form-field.mat-form-field {
  padding-bottom: 0;
  padding-top: 0;
  /*margin: 5px 0;*/
}

.custom-form-field .mat-form-field-infix {
  padding: 0 8px;
  height: 32px;
  box-sizing: border-box;
}

.custom-form-field .mat-form-field-outline {
  height: 32px;
}

.custom-form-field input {
  height: 20px;
}






.sale-container {
  margin: 10px;
  display: flex;
  flex-direction: column;

  .product-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid #0B610B;

    .product-autocomplete {
      display: flex;
      align-items: center;

      button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }

    .table-product {
      display: flex;
      height: 400px;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      border: 2px solid #0B610B;
      border-radius: 10px;

      .odd-row {
        background-color: #B0F2B6;
      }

      .even-row {
        background-color: #97DFC6;
      }

      .label-column {
        width: 40%;
      }

      .quantity-column {
        width: 10%;
      }

      .unit-price-column {
        width: 20%;
      }

      .total-column{
        width: 20%;
      }

      .actions-column {
        width: 10%;
      }
    }
  }
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.sale-details {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1;
  height: 150px;

  .client{
    display: flex;
    flex-direction: column;
    flex: 1;

    .client-autocomplete {
      display: flex;
      align-items: center;
      border-radius: 10px;
      border: 2px solid #0B610B;
      margin-right: 10px;
      background-color: white;
    }
  }

  .typePaiement {
    display: flex;
    flex-direction: column;
    flex: 1;

    .type-paiement-autocomplete {
      display: flex;
      align-items: center;
      border-radius: 10px;
      border: 2px solid #0B610B;
      margin-left: 10px;
      background-color: white;
    }
  }
}























.validation-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.validation-container button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.validation-container button:hover {
  background-color: #0056b3; /* Change la couleur au survol */
}

.validation-container button:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Ombre plus petite au clic */
  transform: translateY(2px); /* Légère animation de pression */
}

.validation-container button:first-child {
  background-color: #1976d2; /* Couleur de fond pour le bouton 'Ajouter' */
}

.validation-container button:nth-child(2) {
  background-color: #388e3c; /* Couleur de fond pour le bouton 'Imprimer' */
}

.validation-container button:last-child {
  background-color: #fbc02d; /* Couleur de fond pour le bouton 'Sauvegarder' */
}

.total-net-container {
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  font-weight: bold;
  margin-top: 10px;
}






