<h1 mat-dialog-title>{{title}}</h1>
<form [formGroup]="form" (ngSubmit)="saveProduct()">
  <div mat-dialog-content class="popup-product">
    <mat-form-field class="custom-mat-form-field">
      <mat-label>Libellé</mat-label>
      <input placeholder="label" matInput formControlName="label">
    </mat-form-field>
    <mat-form-field>
      <mat-label>DCI</mat-label>
      <input placeholder="DCI" matInput formControlName="dci">
    </mat-form-field>
    <div class="price">
      <mat-form-field class="mat-form-field-cip">
        <mat-label>CIP</mat-label>
        <input placeholder="CIP" matInput formControlName="cip">
      </mat-form-field>
      <mat-form-field class="mat-form-field-ucd">
        <mat-label>UCD</mat-label>
        <input placeholder="UCD" matInput formControlName="ucd">
      </mat-form-field>
    </div>
    <div class="price">
      <mat-form-field class="mat-form-field-section-price">
        <mat-label>Prix d'achat</mat-label>
        <input placeholder="Prix d'achat" matInput formControlName="sectionPrice">
      </mat-form-field>
      <mat-form-field class="mat-form-field-public-price">
        <mat-label>Prix de vente</mat-label>
        <input placeholder="Prix de vente" matInput formControlName="publicPrice">
      </mat-form-field>
    </div>
    <div class="price">
      <mat-form-field class="mat-form-field-section-tva">
        <mat-label>TVA</mat-label>
        <input placeholder="TVA" matInput formControlName="tva">
      </mat-form-field>
      <mat-form-field class="mat-form-field-section-quantite-stock">
        <mat-label>Quantité stock</mat-label>
        <input placeholder="Quantité stock" matInput formControlName="quantiteStock">
      </mat-form-field>
    </div>
    <!--
    <mat-form-field>
      <mat-label>Date d'expiration</mat-label>
      <input placeholder="Date d'expiration" matInput formControlName="expirationDate">
    </mat-form-field>
    -->
    <mat-form-field appearance="fill">
      <mat-label>Date d'expiration</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="expirationDate"
             [min]="minDate" placeholder="Date d'expiration"
             (dateChange)="onDateChange($event)" format="DD/MM/AAAA">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="popup-product-button">
    <button mat-raised-button color="warn" mat-dialog-close style="margin-right: 5px;">Fermer</button>
    <button type="submit" mat-raised-button color="primary" cdkFocusInitial>Sauvegarder</button>
  </div>
</form>
