.mat-form-field {
  display: block !important;
  position: relative;
  text-align: left;
}


.popup-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-product-button {
  display: flex;
  justify-content: flex-end;
}

.mdc-dialog__content>:first-child {
  /* margin-top: 25px; */
}

.price {
  display: flex;
  justify-content: space-between; /* Espace entre les éléments */
  align-items: center; /* Aligne les éléments verticalement au centre */
  width: 100%; /* Assure que le conteneur prend toute la largeur disponible */
  padding: 0; /* Supprime le padding du conteneur */
  margin: 0; /* Supprime la marge du conteneur */
}

::ng-deep .mat-form-field-section-price {
  margin: 0px 10px 0px 0px;
  flex-grow: 1;
}

::ng-deep .mat-form-field-public-price {
  margin: 0px 0px 0px 10px;
  flex-grow: 1;
}

::ng-deep .mat-form-field-cip {
  margin: 0px 10px 0px 0px;
  flex-grow: 1;
}

::ng-deep .mat-form-field-ucd {
  margin: 0px 0px 0px 10px;
  flex-grow: 1;
}

::ng-deep .mat-form-field-section-tva {
  margin: 0px 10px 0px 0px;
  flex-grow: 1;
}

::ng-deep .mat-form-field-section-quantite-stock {
  margin: 0px 0px 0px 10px;
  flex-grow: 1;
}

::ng-deep .mat-mdc-form-field-infix{
  /*width: 80%; /* Par défaut, prend 80% de la largeur du conteneur parent */
  /*max-width: 500px; /* Largeur maximale par défaut */
}
