<h1 mat-dialog-title>Produit</h1>
<form [formGroup]="form" (ngSubmit)="saveProduct()">
  <div mat-dialog-content class="popup-product">
    <mat-form-field>
      <mat-label>Libellé</mat-label>
      <input placeholder="label" matInput formControlName="label">
    </mat-form-field>
    <mat-form-field>
      <mat-label>DCI</mat-label>
      <input placeholder="DCI" matInput formControlName="dci">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prix section</mat-label>
      <input placeholder="Prix section" matInput formControlName="sectionPrice">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prix public</mat-label>
      <input placeholder="Prix public" matInput formControlName="publicPrice">
    </mat-form-field>
    <mat-form-field>
      <mat-label>CIP</mat-label>
      <input placeholder="CIP" matInput formControlName="cip">
    </mat-form-field>
    <mat-form-field>
      <mat-label>UCD</mat-label>
      <input placeholder="UCD" matInput formControlName="ucd">
    </mat-form-field>
    <mat-form-field>
      <mat-label>TVA</mat-label>
      <input placeholder="TVA" matInput formControlName="tva">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Quantité stock</mat-label>
      <input placeholder="Quantité stock" matInput formControlName="quantiteStock">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="popup-product-button">
    <button mat-raised-button color="warn" mat-dialog-close>Fermer</button>
    <button type="submit" mat-raised-button color="primary" cdkFocusInitial>Sauvegarder</button>
  </div>
</form>
