.mat-form-field {
  display: block !important;
  position: relative;
  text-align: left;
}


.popup-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-product-button {
  display: flex;
  justify-content: flex-end;
}
