.odd-row {
  background-color: #B0F2B6;
}

.even-row {
  background-color: #97DFC6;
}

/* Label Column */
.label-column {
  width: 30%; /* 30% width */
}

/* Quantity Column */
.quantity-column {
  width: 10%; /* 10% width */
}

/* Unit Price Column */
.unit-price-column {
  width: 15%; /* 15% width */
}

/* Discount Column */
.discount-column {
  width: 15%; /* 15% width */
}

/* Total Column */
.total-column {
  width: 20%; /* 20% width */
}

/* Actions Column */
.actions-column {
  width: 10%; /* 10% width */
}

.purchase-container {
  /*background-color: antiquewhite;*/
  margin: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-direction: column;
}

.label-fournisseur-container {
  font-size: 14px;
  display: flex;
  gap: 20px;
  margin-top: 16px;
}

.total-net-container {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
}

.table-product {
  display: flex;
  height: 550px;
}

.validation-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.mat-mdc-table {
  background-color: #ECF8E0;
  font-size: 30px;
}

.mat-mdc-header-row {
  color: white;
  background-color: #0B610B;
  font-size: 14px;
  font-weight: bold;
}

.mdc-data-table__cell, .mdc-data-table__header-cell {
}

mat-cell , mat-header-cell, mat-footer-cell {
   flex-grow: 0;
   flex-shrink: 0;
   flex-basis: auto;
}

.selection-fournisseur {
  width: 300px; /* Increase width */
  height: 40px; /* Increase height */
  padding: 10px; /* Padding inside the select */
  font-size: 16px; /* Larger font size */
  border-radius: 4px; /* Rounded corners */
  border: 1px solid #ccc; /* Border color */
  background-color: #fff; /* Background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for better look */
}

/* Optional: hover or focus effects */
.selection-fournisseur:hover, .selection-fournisseur:focus {
  border-color: #3f51b5; /* Highlight border on hover or focus */
  outline: none; /* Remove default outline */
}

.purchase-title {
  display: flex;
  font-size: 32px;
  font-weight: bold;
}

.content-command {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background-color: yellow;
  padding: 20px;
  border-radius: 10px;
}


mat-form-field {
  width: 30%; /* Full width select field */
}

mat-select {
  /*background-color: white;
  border-radius: 2px;
  */
}

.mat-select-placeholder {
  /*color: #9e9e9e;*/
}


.total-net-container {
  font-size: 14px;
  font-weight: bold;
}

.validation-container button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.validation-container button:hover {
  background-color: #0056b3; /* Change la couleur au survol */
}

.validation-container button:active {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Ombre plus petite au clic */
  transform: translateY(2px); /* Légère animation de pression */
}

.validation-container button:first-child {
  background-color: #1976d2; /* Couleur de fond pour le bouton 'Ajouter' */
}

.validation-container button:nth-child(2) {
  background-color: #388e3c; /* Couleur de fond pour le bouton 'Imprimer' */
}

.validation-container button:last-child {
  background-color: #fbc02d; /* Couleur de fond pour le bouton 'Sauvegarder' */
}
